/*V2*/

html,
body {
	margin:0;
	padding:0;
	height:100%;
        text-align: center;
}

#container {
	min-height:100%;
	position:relative;
}

#navbar {
	background:#ededed;
	padding:10px;
}

#content {
	padding-bottom:40px; /* Height of the footer element */
}

#footer {
	background:#777777;
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
        color: #6666666;
        padding-top: 10px;
}


#left-footer {
    margin-left: 12px;
    float: left;
}

#left-floater a {
    width: 120px;
    display: block;
}

#right-footer {
    margin-right: 12px;
    float: right;
}

#footer a {
    display: block;
    width: 100px;
}

ul {
   list-style-type: none;
}

li {
   float: left;
}


